<section ng-controller="ProfileController" ng-init="loadProfile();">

  <div class="jumbotron">
    <h3>{{authentication.user.salutation}} {{authentication.user.firstName}} {{authentication.user.lastName}} ({{authentication.user.username}})
      <small>
        Gender: {{gender}} |
        Birthday: {{authentication.user.birthday | date: 'MM/dd/yyyy'}}
      </small>
    </h3>
    <h5>{{authentication.user.description}}</h5>

    {{postBadge}}<br>
    {{shopBadge}}<br>
    {{donationBadge}}<br>
    {{badgeCollection}}

    <div ng-show="authentication.user.roles === 'admin'">
      <strong>Admin Console</strong>
      <br>
      <a href="/#!/signup">Register another user</a>
      <br>
      <a href="/#!/boards/backup">Backup posts</a>
      <br>
      <a href="/#!/shop/manage">Manage Shop</a>
    </div>
  </div>
  
  

</section>