<section data-ng-controller="BoardsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="board.message"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == board.user._id || authentication.user.roles == 'admin'))">
		<a class="btn btn-primary" href="/#!/boards/{{board._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="board.created | date:'mediumDate'"></span>
			by
			{{board.user.firstName}} {{board.user.lastName}}
		</em>
	</small>
	
	<div data-ng-show="error" class="form-group text-center text-danger">
		<strong data-ng-bind="error"></strong>
	</div>
</section>
